@use "helpers" as *;

.container {
  max-width: calc(var(--container-width) * (var(--container-padding-inline) * 2));
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-secondary);
  color: hsl(var(--primary));
  font-weight: 700;
}

h1, .h1 {
  @include fluid-text(65, 48);
}

h2, .h2 {
  @include fluid-text(52, 28);
}

h3, .h3 {
  @include fluid-text(42, 24);
  font-weight: 500;
}

h4, .h4 {
  @include fluid-text(32, 20);
  font-weight: 500;
}

h5, .h5 {
  @include fluid-text(22, 16);
  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(18, 14);
  font-weight: 500;
}